In [11]:
import pandas
import numpy as np

df = pandas.read_csv("chapter_povs.csv")

In [12]:
print(df.replace(np.nan,' ', regex=True))

             Character  Total Book 1 Book 2 Book 3 Book 4 Book 5 Book 6
0     Tyrion Lannister     48      9     15     11            12      1
1             Jon Snow     42      9      8     12            13
2           Arya Stark     34      5     10     13      3      2      1
3   Daenerys Targaryen     31     10      5      6            10
4        Catelyn Stark     25     11      7      7
5          Sansa Stark     25      6      8      7      3             1
6           Bran Stark     21      7      7      4             3
7      Jaime Lannister     17                    9      7      1
8         Eddard Stark     15     15
9        Theon Greyjoy     14             6                    7      1
10      Davos Seaworth     13             3      6             4
11    Cersei Lannister     12                          10      2
12       Samwell Tarly     10                    5      5
13    Brienne of Tarth      8                           8
14     Barristan Selmy      5                                  4      1
15   Victarion Greyjoy      4                           2      2
16     Quentyn Martell      4                                  4
17        Asha Greyjoy      4                           1      3
18     Arianne Martell      3                           2             1
19       Aeron Greyjoy      2                           2
20      Jon Connington      2                                  2
21          Areo Hotah      2                           1      1
22          Melisandre      1                                  1
23       Arys Oakheart      1                           1